table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  background-color: #b4b4b4;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

#search {
  margin-left: 45%;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.subscriber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.startLogContainer {
  display: flex;
  flex-direction: row;
}

.updatebutton {
  background-color: #38ef7d;
  color: black;
  font-weight: 500;
  border-radius: 2px;
  border: 0.5px solid black;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cancelbutton {
  background-color: #dd1b21;
  color: black;
  font-weight: 500;
  border-radius: 2px;
  border: 0.5px solid black;
}
