table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
  background-color: #b4b4b4;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

#search {
  margin-left: 45%;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.pricing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.day-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  min-width: calc(2 * 160);
  padding: 10px;
}

.day-pricing h1 {
  width: 45%;
}

.toggleinput {
  display: inline;
}

.toggleinput input {
  margin-left: 20px;
}

.toggleinput label {
  margin: 15px 0px;
}

.updatebutton {
  background-color: #38ef7d;
  color: black;
  font-weight: 500;
  margin: auto;
  border-radius: 2px;
  border: 0.5px solid black;
  margin-left: 20px;
}
.cancelbutton {
  background-color: #dd1b21;
  color: black;
  font-weight: 500;
  margin: auto;
  border-radius: 2px;
  border: 0.5px solid black;
  margin: 5px;
}

.update-form {
  /* Add some spacing around the form elements */
  padding: 10px;
}

.form-group {
  /* Set the display of the label and input elements to inline-block */
  display: inline-block;
  margin-right: 20px; /* Add margin between label and input */
}

.form-group label {
  /* Optionally, you can set a width for the labels to align them properly */
  width: 120px;
}
